/*
font-family: 'Croissant One', cursive;
font-family: 'Fuggles', cursive;
font-family: 'Satisfy', cursive;
*/

span{
    font-family: 'Croissant One', 'Helvetica', 'Arial';
    font-size: 30px;
    color: red;
    font: bold;
}

.navbar-brand{
    font-family: 'Croissant One', 'Helvetica', 'Arial';
}

body{
    background-color:  #482496;
}

.card-text{
    color: red;
}

#uno{
    color: yellow;
}

#dos{
    color: blue;
}

#disminuir, #aumentar{
    border: 1px solid #ee3124;
    border-radius: 5px;
    width: 40%;
}

.btn-hover:hover{
    background-color: #a81410 !important;
}